@page "/checkout"

<TopBar />
<div class="main">
    <div class="checkout-cols">
        <div>
            <h4>@Messages.ReviewOrderText</h4>
            <OrderReview />
        </div>

    </div>
    <button class="checkout-button btn btn-warning"
            @onclick=PlaceOrder
            disabled="@ViewModel.IsSubmitting">
        @Messages.PlaceOrderButtonText
    </button>
</div>
